.skillCardImage {
    height: 4rem;
    filter: hue-rotate(0deg);
	cursor: pointer;
	transition: all .8s;
}

.skillCardImage:hover {
    filter: hue-rotate(240deg);
    transform: scale(1.3);
}

.sectionTitle {
    font-size: 3rem;
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
  }

@media screen and (max-width: 768px) {
    .sectionTitle {
        font-size: 2rem;
    }
}