/* swiper starts*/

.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
  font-size: 1rem;
}

.swiperSlideImg {
  display: block;
  width: 20rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 1rem;
}

.swiper-button-next,
.swiper-button-prev {
  margin: 0 1rem 0 1rem;
  color: aqua;
  transform: scale(1.5);
  z-index: 10;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(2);
  transition: all 0.3s ease-in-out;
}

.swiper-pagination {
  position: relative;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  margin-top: 2rem;
}

.swiper-pagination-bullet {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: aqua;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.swiper-pagination-bullet:hover {
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
/* swiper ends*/


/* tilt starts */

/* 
.tilt-root {
  position: relative;
  display: inline-block;
}

.tilt-child {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
*/

/* tilt ends */