.sectionSkills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  /* align-content: center; */
  /* align-items: center; */
  margin: 1rem;
  margin-left: 3rem;
}

.sectionTitle {
  font-size: 3rem;
  color: #00ffff;
  text-align: center;
  padding: 1em;
  padding-top: 2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  /* transition: transform 0.7s ease; */
}

.sectionTitle:hover {
  color: #ff0099;
  /* transform: scale(1.05); */
}

.skillCardImage {
  height: 4rem;
  filter: hue-rotate(0deg);
  cursor: pointer;
  transition: all 0.8s;
}

.skillCardImage:hover {
  filter: hue-rotate(240deg);
  transform: scale(1.3);
}

.skillsItem {
  padding: 0.5rem;
}

/* Media Queries Starts */

@media screen and (max-width: 768px) {
  .sectionTitle {
    font-size: 2rem;
    padding-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .sectionSkills {
    width: 50%;
    margin: auto;
    justify-content: center;
  }
}
/* Media Queries Ends */