
.sectionTitle {
    color: #00ffff;
    padding-top: 2rem;
    letter-spacing: 0.3rem;
    font-size: 4rem;
    /* transition: transform 0.7s ease; */
  }
  
  @media screen and (max-width: 768px) {
    .sectionTitle {
      font-size: 3rem;
    }
    
  }